[Unit]
Description=Tofuhut server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=TOFUHUT_WORKLOAD_CONFIG_DIR=/etc/tofuhut/workloads
Environment=TOFUHUT_WORKLOAD_RUNTIME_DIR=/var/lib/tofuhut/workloads
ExecStart=/usr/local/bin/tofuhut server run
Restart=on-failure
RestartSec=5s
User=tofuhut
Group=tofuhut

[Install]
WantedBy=multi-user.target
