[Unit]
Description=Tofuhut workload %i
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Environment=TOFUHUT_WORKLOAD_CONFIG_DIR=/etc/tofuhut/workloads
Environment=TOFUHUT_WORKLOAD_RUNTIME_DIR=/var/lib/tofuhut/workloads
ExecStart=tofuhut workload run %i
